@mixin font($name,$size) {
    font-family: $name ;
    font-size:$size;
        
}

@mixin breakpoint($width){
    @media screen and (max-width:$width) {
       @content;
    }
}

@mixin flex($flexdirection,$justify-content,$align-items,$gap) {
    display: flex;
    flex-direction:$flexdirection ;
    justify-content:$justify-content ;
    align-items:$align-items ;
    gap: $gap;
}