@use 'mixins';
@font-face {
    font-family:Silka ;
    src: url(fonts/SilkaMono-Regular.otf);
}
@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

$FirstFont:Outfit;
$SecondFont:Silka;

$FirstColor:whitesmoke;
$SecondColor:black;

.visually-hidden{
    position: absolute;
    left: -10000px;
    width: 1px;
    height: 1px;
    top: auto;
    overflow: hidden;
}

// animation css

@keyframes animationBurgerFirst {
    100%{
       transform:translateY(10px) rotate(45deg) ;
    }
    
}
@keyframes animationBurgerSecond {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
@keyframes animationBurgerThree {
    100%{
        transform:translateY(-8px) rotate(-45deg);
    }
}


@keyframes loading {
  0%{
        width: 0%;
  } 100%{
        width: 76px;
  } 
} 
@keyframes  breath 
{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(0.9);
    } 
    100%{
        transform: scale(1);
    }
} 


html{
    scroll-behavior: smooth;
    scroll-snap-type:mandatory;
    transition: 2s ease-in-out;
    background-color:  #FFFEEF;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
/*
========================================================
NAVBAR
========================================================
*/
nav{
    position:sticky;
    top: 0;
    z-index: 3;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    padding: 20px;
    background-color: #FFFEEF;
    
    
   

    h1{
        justify-content: flex-start;
        @include mixins.font($FirstFont,35px);
        color :#201E1E;
    }
    ul{
        display:flex;
        flex-direction: row;
        gap: 50px;
        list-style: none;
        
        @include mixins.font($SecondFont,18px);

        a{
            text-decoration : none;
            color: black;
        }
    }
 
    @include mixins.breakpoint(900px){
        position: static;
        align-items: flex-end;
    }
    
}
/*
========================================================
CLASSE AJOUTER EN JS
========================================================
*/
.animation-une{
    animation: animationBurgerFirst 1s forwards;
}
.animation-deux{
    animation: animationBurgerSecond 1s forwards;
}
.animation-trois{
    animation: animationBurgerThree 1s forwards;
}


/**/
/*
========================================================
MENU BURGER
========================================================
*/

.responsive-menu-container{

    display: none;
    
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    position: absolute;
    top: 0;
    z-index: 4;
    height: 900px;
    background-color:rgba($color: #000000, $alpha: 0);
    @include mixins.breakpoint(900px){
    display: grid;
    }
 
    .burgermenu-icon{ 
       
        grid-row: 1;
        grid-column: 3;
        height: fit-content;
        width: fit-content;
        padding: 13px;
        object-fit: contain;
        z-index:5;
        display: none;
        justify-self: end;
      
    
        
        .burgermenu-bar{
            
            height: 4px;
            width: 25px;
            background-color: black;
            margin: 5px;

        
        }
        @include mixins.breakpoint(900px){
            display: block;
           
        }
     
    }

    ul{
        list-style: none;

        a{
            text-decoration : none;
            color: black;
        }
        @include mixins.font($SecondFont,40px)
    }
 
    .responsive-menu{
    
        grid-column: 2;
        /*display: flex;*/
        grid-row: 2/3;
        display: none;
        flex-direction: column;
        gap: 50px;
    }
    .display-flex{
        display: flex;
        }

    @include mixins.breakpoint(900px){
        
        gap: 50px;
        z-index: 4;
        width: 100%;
    
        padding: 20px;

        ul{
        z-index: 5;
        padding: 20px;
        }

        .burgermenu-icon{
             display: block;
          
             z-index: 3;
             
            
          
        }
    }
  
}
.red-background{
    background-color: #EF4142;
    position: fixed;
  
    }



/*
========================================================
HEADER
========================================================
*/

#header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    gap: 20px;
    margin:0 auto;
    width: 856px;
    height: 798px;
    padding: 20px;
    background-image: url(img/background-portofolio.webp);
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
    background-clip: padding-box;
   

    @include mixins.breakpoint(900px){
        width: 400px
    }
    

    h2{
        @include mixins.font($FirstFont,45px);
    }
    h3{
        @include mixins.font($FirstFont,18px);
        font-weight: 100;
    }
    .loading-div{
        width: 132px;
        height: 16px;
        background-color: #FAF3E1;
        border: #201E1E solid 1px;
        .load{
            width: 76px;
            height: 15px;
            background-color: #201E1E;
            animation: loading 2s forwards;
        }

    }
}   


/*
========================================================
SECTION A PROPOS
========================================================
*/


#AboutMe{
  
    position: relative;
    
    z-index: 2;
    display: flex;
    margin: 0 auto;

    flex-direction: row-reverse;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    background-image: url(img/background-portfolio-second.webp);
    background-repeat: no-repeat;
    background-size: contain;

   
    
   
   


    
    .texte-aboutme {
      display: flex;
      flex-direction: column;
      justify-content: center;
        align-items: flex-end;
        gap: 10px;
        height: 100%;
      
      
       

        @include mixins.breakpoint(900px){
          align-items: center;
          justify-content: center
        }

        h2{
         
           
            @include mixins.font($FirstFont,25px );
            height: fit-content;
           
        }
        p{
            
            
            @include mixins.font($SecondFont,24px);
            width:350px;
        
           
        }
        .ButtonSeeMore{
            
            @include mixins.font($SecondFont,16px);
            padding:15px;
            border: solid #EF4142;
            background-color: white;
            border-radius: 1.25rem;
            
        }
        
    }
    .photo-aboutme {
       
        object-fit: contain;
        img{
            display: block;
            margin: 0 auto;
            width: 80%;
            height: auto;
            @include mixins.breakpoint(900px){
                width: 60%;
            }
        }
        

    }
    @include mixins.breakpoint(900px){
   
     width: fit-content;
        
        }
        
}
/*
========================================================
OEIL
========================================================
*/

#separateur{
    display: flex;
    z-index: 1;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 50px;
   
    img{
        position: sticky;
        transition: ease-in-out 0.5s;
        width: 20%;
    }

    @include mixins.breakpoint(900px){
        
    }
}
/*
========================================================
MES PROJETS
========================================================
*/

#MyProjects{
    position:relative;
    z-index: 1;
    padding: 0;
    /*width: 100%;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    padding-bottom: 190px;
    margin: 10px;

    background-image: url(img/background-portfolio-third.webp);
    background-repeat: repeat-y;
    background-size: contain;
    
    h2{
        @include mixins.font($FirstFont,45px);
        text-align: center;
    }
    a{
        color: $SecondColor;
        text-decoration: none;
    }
  

    .CardProjet{
      
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 441px;
        width: 80%;
        @include mixins.font($SecondFont,16px);
        background-color: #FAF3E1;
        overflow: hidden;
        @include mixins.breakpoint(900px){
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
            width: 100%;
            
        }
            
            
        gap: 20px;
        margin: 0 auto;
        .gauche{
            grid-column: 1;
            grid-row: 1/2;
        }
        .droite{
            grid-column: 2;
            grid-row: 1/2;
           
        }
        .case-image{
            align-self: stretch;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            @include mixins.breakpoint(900px){
                grid-row: 1;
                grid-column: 1;
            }
           
        }
        .owen{
            background-image: url(img/photo-owen.webp);
        }
        .kwi{
            background-image: url(img/photo-kwi.webp);
        }
        .scss{
            background-image: url(img/photo-petiteceinture.webp);
            @include mixins.breakpoint(900px){
                grid-row: 1;
                grid-column: 1;
            }
        }
        .vue{
            background-image: url(img/photo-vue-app.png);


        }
        .wordpress{
            background-image: url(img/photo-Ecologica.png);
           background-position: left;
        }

        .back{
            background-image: url(img/Photo_devlabback.png);

        }
           
        .texte-projet{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin: 50px 50px 0px 50px;
            gap: 60px;
            @include mixins.breakpoint(900px){
                grid-row: 2;
                grid-column: 1;
            }
            h2{
                @include mixins.font($FirstFont,22px);
                color: $SecondColor;  
            }
            p{
                @include mixins.font($SecondFont,16px);
                margin-top: 5px;
                line-height: 0.8cm;
            }
         
        }
        .button-container{
            @include mixins.font($SecondFont,16px);
            background-color: #201E1E;
            color: white;
            width: 200px;
            padding: 10px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            p::after{
                position: relative;
                left: 5px;
                 bottom: 3px;
                content: "\27F6";
                color: #FFFEEF;
            }
            @include mixins.breakpoint(900px)
                {
                    margin: 10px 0px 20px 0px;
                }
        }
        .button-container:hover{
            border: 1px #201E1E solid ;
            background-color: transparent;
            color: #201E1E;
            p::after{
              
                color: #201E1E;
            }
        }



       @include mixins.breakpoint(900px)
       {
       margin: 0px 10px 0px 10px;
       }
           
    }

    @include mixins.breakpoint(900px){
        
        .CardProjet{
            flex-direction: column;
            justify-content: flex-start;
            align-items:center ;
            height: fit-content;
            width: fit-content;
            gap: 10px;
        }
    }
}

/*
========================================================
CONTACT
========================================================
*/

#Contact{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #FFFEEF;
    @include mixins.breakpoint(900px){
        flex-direction: column-reverse;
        gap: 20px;
        height: calc(-50px)
        
    }
    h2{
        @include mixins.font($FirstFont,20px );
        margin: 18px;
        

        span{
            color: #EF4142;
            @include mixins.font($SecondFont,20px );
        }
    }
    img{
       width: 20%;
       @include mixins.breakpoint(900px){
        width: 50%;
       }
    }
 
    p{
        @include mixins.font($SecondFont,18px );
    }
    p::after{
        position: relative;
        content: "\27F6";
    }
    .container-contact{
        display: flex;
        gap: 20px;
        margin-top: 50px;
        padding-bottom: 10px;

        ul{
      
            display: flex;
            flex-direction: column;
            list-style: none;
            @include mixins.font($SecondFont,18px );
           a{
            text-decoration: none;
            color: #201E1E;
           }
            img{
                width: 80%;
            }
            a:hover{
                color: #EF4142;
            }
        }
    }
  

}

/*
========================================================
RESPONSIVE
========================================================
*/

@media screen and (max-width: 900px) {
  nav{
    
    justify-content: flex-start;
  
   
    ul{
        display: none;
    }
  }
 
 
    #AboutMe{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2,1fr);
        /*margin: 10px;*/
        padding: 10px;
        width: 100%;
        h2, 
        p, 
        div,.ButtonSeeMore{
            grid-column: 1;
        }
    }

  }