@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");
@font-face {
  font-family: Silka;
  src: url(fonts/SilkaMono-Regular.otf);
}
.visually-hidden {
  position: absolute;
  left: -10000px;
  width: 1px;
  height: 1px;
  top: auto;
  overflow: hidden;
}

@keyframes animationBurgerFirst {
  100% {
    transform: translateY(10px) rotate(45deg);
  }
}
@keyframes animationBurgerSecond {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes animationBurgerThree {
  100% {
    transform: translateY(-8px) rotate(-45deg);
  }
}
@keyframes loading {
  0% {
    width: 0%;
  }
  100% {
    width: 76px;
  }
}
@keyframes breath {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
html {
  scroll-behavior: smooth;
  scroll-snap-type: mandatory;
  transition: 2s ease-in-out;
  background-color: #FFFEEF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
========================================================
NAVBAR
========================================================
*/
nav {
  position: sticky;
  top: 0;
  z-index: 3;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
  padding: 20px;
  background-color: #FFFEEF;
}
nav h1 {
  justify-content: flex-start;
  font-family: Outfit;
  font-size: 35px;
  color: #201E1E;
}
nav ul {
  display: flex;
  flex-direction: row;
  gap: 50px;
  list-style: none;
  font-family: Silka;
  font-size: 18px;
}
nav ul a {
  text-decoration: none;
  color: black;
}
@media screen and (max-width: 900px) {
  nav {
    position: static;
    align-items: flex-end;
  }
}

/*
========================================================
CLASSE AJOUTER EN JS
========================================================
*/
.animation-une {
  animation: animationBurgerFirst 1s forwards;
}

.animation-deux {
  animation: animationBurgerSecond 1s forwards;
}

.animation-trois {
  animation: animationBurgerThree 1s forwards;
}

/**/
/*
========================================================
MENU BURGER
========================================================
*/
.responsive-menu-container {
  display: none;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  position: absolute;
  top: 0;
  z-index: 4;
  height: 900px;
  background-color: rgba(0, 0, 0, 0);
}
@media screen and (max-width: 900px) {
  .responsive-menu-container {
    display: grid;
  }
}
.responsive-menu-container .burgermenu-icon {
  grid-row: 1;
  grid-column: 3;
  height: fit-content;
  width: fit-content;
  padding: 13px;
  object-fit: contain;
  z-index: 5;
  display: none;
  justify-self: end;
}
.responsive-menu-container .burgermenu-icon .burgermenu-bar {
  height: 4px;
  width: 25px;
  background-color: black;
  margin: 5px;
}
@media screen and (max-width: 900px) {
  .responsive-menu-container .burgermenu-icon {
    display: block;
  }
}
.responsive-menu-container ul {
  list-style: none;
  font-family: Silka;
  font-size: 40px;
}
.responsive-menu-container ul a {
  text-decoration: none;
  color: black;
}
.responsive-menu-container .responsive-menu {
  grid-column: 2;
  /*display: flex;*/
  grid-row: 2/3;
  display: none;
  flex-direction: column;
  gap: 50px;
}
.responsive-menu-container .display-flex {
  display: flex;
}
@media screen and (max-width: 900px) {
  .responsive-menu-container {
    gap: 50px;
    z-index: 4;
    width: 100%;
    padding: 20px;
  }
  .responsive-menu-container ul {
    z-index: 5;
    padding: 20px;
  }
  .responsive-menu-container .burgermenu-icon {
    display: block;
    z-index: 3;
  }
}

.red-background {
  background-color: #EF4142;
  position: fixed;
}

/*
========================================================
HEADER
========================================================
*/
#header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  gap: 20px;
  margin: 0 auto;
  width: 856px;
  height: 798px;
  padding: 20px;
  background-image: url(img/background-portofolio.webp);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-clip: padding-box;
}
@media screen and (max-width: 900px) {
  #header {
    width: 400px;
  }
}
#header h2 {
  font-family: Outfit;
  font-size: 45px;
}
#header h3 {
  font-family: Outfit;
  font-size: 18px;
  font-weight: 100;
}
#header .loading-div {
  width: 132px;
  height: 16px;
  background-color: #FAF3E1;
  border: #201E1E solid 1px;
}
#header .loading-div .load {
  width: 76px;
  height: 15px;
  background-color: #201E1E;
  animation: loading 2s forwards;
}

/*
========================================================
SECTION A PROPOS
========================================================
*/
#AboutMe {
  position: relative;
  z-index: 2;
  display: flex;
  margin: 0 auto;
  flex-direction: row-reverse;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  background-image: url(img/background-portfolio-second.webp);
  background-repeat: no-repeat;
  background-size: contain;
}
#AboutMe .texte-aboutme {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 10px;
  height: 100%;
}
@media screen and (max-width: 900px) {
  #AboutMe .texte-aboutme {
    align-items: center;
    justify-content: center;
  }
}
#AboutMe .texte-aboutme h2 {
  font-family: Outfit;
  font-size: 25px;
  height: fit-content;
}
#AboutMe .texte-aboutme p {
  font-family: Silka;
  font-size: 24px;
  width: 350px;
}
#AboutMe .texte-aboutme .ButtonSeeMore {
  font-family: Silka;
  font-size: 16px;
  padding: 15px;
  border: solid #EF4142;
  background-color: white;
  border-radius: 1.25rem;
}
#AboutMe .photo-aboutme {
  object-fit: contain;
}
#AboutMe .photo-aboutme img {
  display: block;
  margin: 0 auto;
  width: 80%;
  height: auto;
}
@media screen and (max-width: 900px) {
  #AboutMe .photo-aboutme img {
    width: 60%;
  }
}
@media screen and (max-width: 900px) {
  #AboutMe {
    width: fit-content;
  }
}

/*
========================================================
OEIL
========================================================
*/
#separateur {
  display: flex;
  z-index: 1;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 50px;
}
#separateur img {
  position: sticky;
  transition: ease-in-out 0.5s;
  width: 20%;
}
/*
========================================================
MES PROJETS
========================================================
*/
#MyProjects {
  position: relative;
  z-index: 1;
  padding: 0;
  /*width: 100%;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  padding-bottom: 190px;
  margin: 10px;
  background-image: url(img/background-portfolio-third.webp);
  background-repeat: repeat-y;
  background-size: contain;
}
#MyProjects h2 {
  font-family: Outfit;
  font-size: 45px;
  text-align: center;
}
#MyProjects a {
  color: black;
  text-decoration: none;
}
#MyProjects .CardProjet {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 441px;
  width: 80%;
  font-family: Silka;
  font-size: 16px;
  background-color: #FAF3E1;
  overflow: hidden;
  gap: 20px;
  margin: 0 auto;
}
@media screen and (max-width: 900px) {
  #MyProjects .CardProjet {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100%;
  }
}
#MyProjects .CardProjet .gauche {
  grid-column: 1;
  grid-row: 1/2;
}
#MyProjects .CardProjet .droite {
  grid-column: 2;
  grid-row: 1/2;
}
#MyProjects .CardProjet .case-image {
  align-self: stretch;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (max-width: 900px) {
  #MyProjects .CardProjet .case-image {
    grid-row: 1;
    grid-column: 1;
  }
}
#MyProjects .CardProjet .owen {
  background-image: url(img/photo-owen.webp);
}
#MyProjects .CardProjet .kwi {
  background-image: url(img/photo-kwi.webp);
}
#MyProjects .CardProjet .scss {
  background-image: url(img/photo-petiteceinture.webp);
}
@media screen and (max-width: 900px) {
  #MyProjects .CardProjet .scss {
    grid-row: 1;
    grid-column: 1;
  }
}
#MyProjects .CardProjet .vue {
  background-image: url(img/photo-vue-app.png);
}
#MyProjects .CardProjet .wordpress {
  background-image: url(img/photo-Ecologica.png);
  background-position: left;
}
#MyProjects .CardProjet .back {
  background-image: url(img/Photo_devlabback.png);
}
#MyProjects .CardProjet .texte-projet {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 50px 50px 0px 50px;
  gap: 60px;
}
@media screen and (max-width: 900px) {
  #MyProjects .CardProjet .texte-projet {
    grid-row: 2;
    grid-column: 1;
  }
}
#MyProjects .CardProjet .texte-projet h2 {
  font-family: Outfit;
  font-size: 22px;
  color: black;
}
#MyProjects .CardProjet .texte-projet p {
  font-family: Silka;
  font-size: 16px;
  margin-top: 5px;
  line-height: 0.8cm;
}
#MyProjects .CardProjet .button-container {
  font-family: Silka;
  font-size: 16px;
  background-color: #201E1E;
  color: white;
  width: 200px;
  padding: 10px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#MyProjects .CardProjet .button-container p::after {
  position: relative;
  left: 5px;
  bottom: 3px;
  content: "⟶";
  color: #FFFEEF;
}
@media screen and (max-width: 900px) {
  #MyProjects .CardProjet .button-container {
    margin: 10px 0px 20px 0px;
  }
}
#MyProjects .CardProjet .button-container:hover {
  border: 1px #201E1E solid;
  background-color: transparent;
  color: #201E1E;
}
#MyProjects .CardProjet .button-container:hover p::after {
  color: #201E1E;
}
@media screen and (max-width: 900px) {
  #MyProjects .CardProjet {
    margin: 0px 10px 0px 10px;
  }
}
@media screen and (max-width: 900px) {
  #MyProjects .CardProjet {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: fit-content;
    width: fit-content;
    gap: 10px;
  }
}

/*
========================================================
CONTACT
========================================================
*/
#Contact {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #FFFEEF;
}
@media screen and (max-width: 900px) {
  #Contact {
    flex-direction: column-reverse;
    gap: 20px;
    height: -50px;
  }
}
#Contact h2 {
  font-family: Outfit;
  font-size: 20px;
  margin: 18px;
}
#Contact h2 span {
  color: #EF4142;
  font-family: Silka;
  font-size: 20px;
}
#Contact img {
  width: 20%;
}
@media screen and (max-width: 900px) {
  #Contact img {
    width: 50%;
  }
}
#Contact p {
  font-family: Silka;
  font-size: 18px;
}
#Contact p::after {
  position: relative;
  content: "⟶";
}
#Contact .container-contact {
  display: flex;
  gap: 20px;
  margin-top: 50px;
  padding-bottom: 10px;
}
#Contact .container-contact ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  font-family: Silka;
  font-size: 18px;
}
#Contact .container-contact ul a {
  text-decoration: none;
  color: #201E1E;
}
#Contact .container-contact ul img {
  width: 80%;
}
#Contact .container-contact ul a:hover {
  color: #EF4142;
}

/*
========================================================
RESPONSIVE
========================================================
*/
@media screen and (max-width: 900px) {
  nav {
    justify-content: flex-start;
  }
  nav ul {
    display: none;
  }
  #AboutMe {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    /*margin: 10px;*/
    padding: 10px;
    width: 100%;
  }
  #AboutMe h2,
#AboutMe p,
#AboutMe div, #AboutMe .ButtonSeeMore {
    grid-column: 1;
  }
}

/*# sourceMappingURL=style.css.map */
