@charset "UTF-8";
@font-face {
  font-family: Grotesk;
  src: url(fonts/DTGetaiGroteskDisplay-Black.otf);
}
@-webkit-keyframes animationBurgerFirst {
  100% {
    transform: translateY(10px) rotate(45deg);
  }
}
@keyframes animationBurgerFirst {
  100% {
    transform: translateY(10px) rotate(45deg);
  }
}
@-webkit-keyframes animationBurgerSecond {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes animationBurgerSecond {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes animationBurgerThree {
  100% {
    transform: translateY(-8px) rotate(-45deg);
  }
}
@keyframes animationBurgerThree {
  100% {
    transform: translateY(-8px) rotate(-45deg);
  }
}
html {
  scroll-behavior: smooth;
  -ms-scroll-snap-type: mandatory;
      scroll-snap-type: mandatory;
  transition: 2s ease-in-out;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
========================================================
NAVBAR
========================================================
*/
nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 3;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
  padding: 20px;
  background-color: #EF4142;
  box-shadow: 0px 10px 10px 10px rgba(0, 0, 0, 0.1);
}
nav h1 {
  justify-content: flex-start;
  font-family: Grotesk;
  font-size: 35px;
  color: black;
}
nav ul {
  display: flex;
  flex-direction: row;
  gap: 50px;
  list-style: none;
  font-family: Avenir;
  font-size: 20px;
}
nav ul a {
  text-decoration: none;
  color: black;
}

/*Classe ajouter en JS*/
.animation-une {
  -webkit-animation: animationBurgerFirst 1s forwards;
          animation: animationBurgerFirst 1s forwards;
}

.animation-deux {
  -webkit-animation: animationBurgerSecond 1s forwards;
          animation: animationBurgerSecond 1s forwards;
}

.animation-trois {
  -webkit-animation: animationBurgerThree 1s forwards;
          animation: animationBurgerThree 1s forwards;
}

/**/
.responsive-menu-container {
  display: none;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  position: absolute;
  top: 0;
  z-index: 4;
  height: 900px;
  background-color: rgba(0, 0, 0, 0);
}
@media screen and (max-width: 900px) {
  .responsive-menu-container {
    display: grid;
  }
}
.responsive-menu-container ul {
  list-style: none;
  font-family: Grotesk;
  font-size: 40px;
}
.responsive-menu-container .burgermenu-icon {
  grid-row: 1;
  grid-column: 3;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 13px;
  -o-object-fit: contain;
     object-fit: contain;
  z-index: 3;
  display: none;
  justify-self: end;
}
.responsive-menu-container .burgermenu-icon .burgermenu-bar {
  height: 4px;
  width: 25px;
  background-color: black;
  margin: 5px;
}
.responsive-menu-container .responsive-menu {
  grid-column: 2;
  /*display: flex;*/
  grid-row: 2/3;
  display: none;
  flex-direction: column;
  gap: 50px;
}
.responsive-menu-container .display-flex {
  display: flex;
}
@media screen and (max-width: 900px) {
  .responsive-menu-container {
    gap: 50px;
    z-index: 4;
    width: 100%;
    padding: 20px;
  }
  .responsive-menu-container ul {
    z-index: 5;
    padding: 20px;
  }
  .responsive-menu-container .burgermenu-icon {
    display: block;
    z-index: 3;
  }
}

.red-background {
  background-color: #EF4142;
  position: fixed;
}

#AboutMe {
  position: relative;
  background-color: white;
  z-index: 2;
  display: flex;
  margin: 0 auto;
  flex-direction: row-reverse;
  gap: 10px;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  margin-top: 90px;
  padding-bottom: 150px;
}
#AboutMe .texte-aboutme {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  height: 100%;
  width: 100%;
}
@media screen and (max-width: 900px) {
  #AboutMe .texte-aboutme {
    align-items: center;
    justify-content: center;
  }
}
#AboutMe .texte-aboutme h2 {
  font-family: Grotesk;
  font-size: 25px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
#AboutMe .texte-aboutme p {
  font-family: Avenir;
  font-size: 19px;
  width: 350px;
}
#AboutMe .texte-aboutme .ButtonSeeMore {
  font-family: Avenir;
  font-size: 16px;
  padding: 15px;
  border: solid #EF4142;
  background-color: white;
  border-radius: 1.25rem;
}
#AboutMe .photo-aboutme {
  -o-object-fit: contain;
     object-fit: contain;
}
#AboutMe .photo-aboutme img {
  display: block;
  margin: 0 auto;
  width: 80%;
  height: auto;
}
@media screen and (max-width: 900px) {
  #AboutMe .photo-aboutme img {
    width: 60%;
  }
}
@media screen and (max-width: 900px) {
  #AboutMe {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}

#separateur {
  display: flex;
  z-index: 1;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#separateur img {
  position: -webkit-sticky;
  position: sticky;
  transition: ease-in-out 0.5s;
  /*width: 80%;*/
}
.line-container {
  position: absolute;
  overflow: hidden;
  height: 1290px;
  width: 10px;
  left: 2%;
}
.line-container .line {
  margin-top: 150px;
  z-index: 0;
  width: 10px;
  height: 390px;
  background-color: #EF4142;
}

#MyProjects {
  position: relative;
  z-index: 1;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  margin-bottom: 100px;
}
#MyProjects h2 {
  font-family: Grotesk;
  font-size: 45px;
  text-align: center;
}
#MyProjects a {
  color: black;
  text-decoration: none;
}
#MyProjects .gauche {
  flex-direction: row;
}
#MyProjects .droite {
  flex-direction: row-reverse;
}
#MyProjects .CardProjet {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 80%;
  font-family: Avenir;
  font-size: 16px;
  border-radius: 1.25rem;
  background-color: whitesmoke;
  padding: 50px;
  gap: 50px;
  margin: 0 auto;
}
#MyProjects .CardProjet img {
  height: auto;
  width: 60%;
  border-radius: 1.25rem;
}
#MyProjects .CardProjet .texte-projet {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#MyProjects .CardProjet .texte-projet h2 {
  font-family: Grotesk;
  font-size: 20px;
  color: black;
}
#MyProjects .CardProjet .texte-projet p {
  line-height: 0.8cm;
}
@media screen and (max-width: 900px) {
  #MyProjects .CardProjet {
    margin: 0px 20px 0px 20px;
  }
}
@media screen and (max-width: 900px) {
  #MyProjects #MyProjects {
    width: 100%;
  }
  #MyProjects .CardProjet {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    gap: 10px;
  }
}

#Contact {
  background-color: whitesmoke;
}
#Contact h2 {
  font-family: Avenir;
  font-size: 30px;
  margin: 20px;
}
#Contact h2 span {
  color: #EF4142;
  font-family: Grotesk;
  font-size: 30px;
}
#Contact .contact-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 40px;
  width: 50%;
  margin: 0 auto;
}
#Contact p {
  font-family: Avenir;
  font-size: 25px;
}
#Contact p::after {
  position: relative;
  content: "⟶";
  vertical-align: center;
  left: 20px;
}
#Contact ul {
  list-style: none;
  font-family: Avenir;
  font-size: 25px;
}

@media screen and (max-width: 800px) {
  nav {
    position: relative;
    justify-content: flex-start;
  }
  nav ul {
    display: none;
  }
  #AboutMe {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 0.2fr);
    /*margin: 10px;*/
    padding: 10px;
    width: 100%;
  }
  #AboutMe h2,
#AboutMe p,
#AboutMe div, #AboutMe .ButtonSeeMore {
    grid-column: 1;
  }
}/*# sourceMappingURL=style.css.map */